<div id="details" class="accordion">
    <div class="area-1">
    </div>
    <div class="area-2">

        <div class="accordion-container" id="accordionOne">
            <h2>Accelerate Business Growth To Improve Revenue Numbers</h2>
            <div class="item">
                <div id="headingOne">
                    <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                        <span class="circle-numbering">1</span><span class="accordion-title">How Can Aria Help Your Business</span>
                    </span>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                    <div class="accordion-body">
                        At Aria solutions, we’ve taken the consultancy concept one step further by offering a full service management organization with expertise.
                    </div>
                </div>
            </div> <!-- end of item -->

            <div class="item">
                <div id="headingTwo">
                    <span class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                        <span class="circle-numbering">2</span><span class="accordion-title">Great Strategic Business Planning</span>
                    </span>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
                    <div class="accordion-body">
                        Aria partners with businesses to business growth and development ideas including environment analysis, plan execution and evaluation.
                    </div>
                </div>
            </div> <!-- end of item -->

            <div class="item">
                <div id="headingThree">
                    <span class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" role="button">
                        <span class="circle-numbering">3</span><span class="accordion-title">Online Marketing Campaigns</span>
                    </span>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionOne">
                    <div class="accordion-body">
                        An awesome online marketing plan won't save your bad product but paired with a good product, the sky is the limit for what can be achieved.
                    </div>
                </div>
            </div> <!-- end of item -->
        </div> <!-- end of accordion-container -->
        <!-- end of accordion -->

    </div> <!-- end of area-2 -->
</div> <!-- end of accordion -->
